
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="message-board">
       <header>Message board</header>        
    </section>

    <section class="log">
        <a href="/sign-up">register</a>
        <a href="/">Log in</a>
    </section>
</body>
</html>