
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <% if(user){%>
        <h1>welcome back <%= user.first_name %></h1>
    <% } else { %>
        <h1> welcom guest, please log in</h1>
    <%}%>
    
    <section class="message-board">
       <header>Message board</header>        
    </section>

    <section class="log">
        <% if(user){%>
         <% if(user.member_status === false ){ %>
            <button id="membership-btn">activate membership</button>
            <a href="/auth/log-out">Log out</a>
         <% } %>
        <% } else { %>
            <a href="/log-in">Log in</a> 
            <a href="/sign-up">register</a>                
        <%}%>

    </section>
    <dialog id="membership-dialog">
        <form method="POST" action="/auth/activate-member">
            <label for="memberCode">activation code: </label>
            <button> activate membership</button>
            <button type="button" id="exit-dialog">cancel</button>
        </form>
    </dialog>

    <script>
        const openDialogBtn = document.getElementById('membership-btn');
        const dialog = document.getElementById('membership-dialog');
        const exitDialogBtn = document.getElementById('exit-dialog');

        openDialogBtn.addEventListener('click',()=>{
            dialog.showModal();
        })
        exitDialogBtn.addEventListener('click',()=>{
            dialog.close();
        })

    </script>
</body>
</html>