
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <header>sign-up</header>
    <section>
        <h5 style="justify-self: center;">all fields are required!</h5>
        <form class="sign-up-form" id="sign-up-form" method="post" action="/sign-up">
            <label for="firstName">First name</label>
            <input name="firstName" type="text" minlength="3" maxlength="12" required>

            <label for="lastName">Last name</label>
            <input name="lastName" type="text" minlength="3" maxlength="12" required>

            <label for="username">Username:</label>
            <input name="username" type="text" minlength="4" maxlength="24"required>

            <label for="password">Password</label>
            <input id="sign-up-password"  name="password" type="password" minlength="5" maxlength="30" required>

            <label for="confirmPassword">Confirm password</label>
            <input id="sign-up-confirm-password" name="confirmPassword" type="password" required>
            <button type="submit" id="register-button">register</button>
            <button type="button" >cancel</button>
        </form>
        <script>
            const form = document.getElementById("sign-up-form");
            const pass = document.getElementById("sign-up-password");
            const confirmPass = document.getElementById("sign-up-confirm-password");
            const submitFormBtn = document.getElementById('register-button');

            submitFormBtn.disabled = true;
            let passOne;
            let passTwo;

            confirmPass.style.outline= '1px solid red'

            pass.addEventListener('input',(e)=>{
                passOne =e.target.value
            })
            confirmPass.addEventListener('input',(e)=>{
                
                passTwo =e.target.value      
                if(passOne ===passTwo){
                    confirmPass.style.outline= '1px solid green'
                    submitFormBtn.disabled = false
                    return
                }
            })
            
            

        </script>
    </section>
</body>
</html>