
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <header style="justify-content: center;"><h2>sign-up</h2></header>
    <main style='padding-top: 20px;'>
        <h5 style="justify-self: center;">all fields are required!</h5>
        <form class="sign-up-form" id="sign-up-form" method="post" action="/auth/sign-up">
            <label style="grid-area: fn-l;" for="firstName">First name</label>
            <input style="grid-area: fn-i;" name="firstName" type="text" minlength="3" maxlength="12" required>

            <label style="grid-area: ln-l;" for="lastName">Last name</label>
            <input style="grid-area: ln-i;" name="lastName" type="text" minlength="3" maxlength="12" required>

            <label style="grid-area: u-l;" for="username">Username:</label>
            <input style="grid-area: u-i;" name="username" type="text" minlength="4" maxlength="24"required>

            <label style="grid-area: p-l;" for="password">Password</label>
            <input style="grid-area: p-i;" id="sign-up-password"  name="password" type="password" minlength="5" maxlength="30" required>

            <label style="grid-area: cp-l;" for="confirmPassword">Confirm password</label>
            <input style="grid-area: cp-i;" id="sign-up-confirm-password" name="confirmPassword" type="password" required>
            <button style="grid-area: sing-up-btn;" type="submit" id="register-button">register</button>
            <a     style="grid-area: cancel-signup-btn;" href="/" >cancel</a>
        </form>
        <script>
            const form = document.getElementById("sign-up-form");
            const pass = document.getElementById("sign-up-password");
            const confirmPass = document.getElementById("sign-up-confirm-password");
            const submitFormBtn = document.getElementById('register-button');

            submitFormBtn.disabled = true;

            const matchPasswords = (passwordOne, passwordTwo)=>{
                if(passwordOne ===passwordTwo){
                    confirmPass.classList.remove('invalid-input');
                    confirmPass.classList.add('valid-input');
                    
                    submitFormBtn.disabled = false
                    return
                }
                confirmPass.classList.remove('valid-input');
                confirmPass.classList.add('invalid-input');
                submitFormBtn.disabled = true
            }


            let passOne;
            let passTwo;
            pass.addEventListener('input',(e)=>{
                passOne =e.target.value
                matchPasswords(passOne, passTwo);
            })
            confirmPass.addEventListener('input',(e)=>{
                passTwo =e.target.value
                matchPasswords(passOne, passTwo);      

            })

        </script>
    </main>
</body>
</html>