body{
    background: rgb(4, 6, 14);
    color: white;
    justify-items: center;
    align-items: center;
    min-height: 100%;
}
ul{
    padding: 0;
}
label{
    align-self: center;
}
input{
    color: white;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(48, 55, 61);
    border: none;
}
input:hover{
    background-color: rgb(88, 93, 97);
}
textarea{
    color: white;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(48, 55, 61);
    border: none;    
}
button{
    border-radius: 20px;
    background-color: rgb(4, 6, 15);
    color: rgb(164, 165, 168);
    padding: 10px;
    outline: none;
    border: none;
}
button:hover{
    outline: 1px solid rgb(164, 165, 168);
    background-color: rgb(17, 21, 39);
    color: white;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(1, 1, 15);

    border-radius: 25px;
    padding: 30px;
    align-items: center;
    box-shadow: 0px 0px 24px 0px rgb(17, 18, 22);
    min-width: 480px;

}
/* link buttons*/
a{
    justify-self: center;
    display: block;
    background-color: rgb(4, 6, 15);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: rgb(164, 165, 168);
    outline: none;
  
}
a:hover{
    background-color: rgb(17, 21, 39);
    color: white;
    outline: 1px solid rgb(164, 165, 168);
}

/*message board and cards*/
.message-board{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
.msg-card{
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color:rgb(14, 13, 13);

    display: grid;
    grid-template: 1fr 1fr 2fr 1fr /5fr 1fr;
    grid-template-areas: 
    'user delete'
    'title delete'
    'content delete'
    'date delete';
}
.add-msg-form{
    min-width: 450px;
    display: grid;
    grid-template: 1fr 1fr/ 2fr 1fr;
    grid-template-areas:
    'msg-title msg-send'
    'msg-content msg-send'
    ;
}
.send-msg-btn{
    border-radius: 60px;
    width: auto;
}
/*register form*/

.sign-up-form{
    background-color: rgb(1, 1, 15);
    box-shadow: 0px 0px 24px 0px rgb(17, 18, 22);
    outline: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template: repeat(6,1fr)/ repeat(2,1fr);
    min-width: 480px;
    gap: 10px;
    padding: 20px;
    justify-self: center;

}

.invalid-input{
    outline: 1px solid red;
    outline-offset: 1px;
}
.valid-input{
    outline: 1px solid green;
    outline-offset: 1px;
}
/*log in*/
.log-in-form{
    background-color: rgb(1, 1, 15);
    box-shadow: 0px 0px 24px 0px rgb(17, 18, 22);
    outline: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template: repeat(3,1fr)/ 1fr 1fr;
    min-width: 480px;
    gap: 10px;
    padding: 20px;
    justify-self: center;   

}