
.sign-up-form{
    outline: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template: repeat(6,1fr)/ repeat(2,1fr);
    gap: 10px;
    padding: 10px;
    justify-self: center;

}

.invalid-input{
    outline: 1px solid red;
    outline-offset: 1px;
}
.valid-input{
    outline: 1px solid green;
    outline-offset: 1px;
}